<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Template Index</title>

  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/custom.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <header>

    <ul class="side-nav fixed hide-on-med-and-down grey">
      <div>
        <a class="logo" href="index.html"><img src="img/logo.png" alt="Logo" ></a>
      </div>
      <li class="search">
        <div class="search-wrapper card">
          <input id="search"><i class="material-icons">search</i>
          <div class="search-results"></div>
        </div>
      </li>
      <li><a class="grey-text text-lighten-4 waves-effect waves-dark" href="index.html"><i class="tiny material-icons ">dashboard</i> Panel de control</a></li>
      <li class="active"><a class="grey-text text-lighten-4 waves-effect waves-dark" href="formularios.html"><i class="tiny material-icons">note_add</i> Formularios</a></li>
      <li><a class="grey-text text-lighten-4 waves-effect waves-dark" href="reportes.html"><i class="tiny material-icons">description</i> Reportes</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <div>
        <a class="logo" href="index.html"><img src="img/logo.png" alt="Logo" ></a>
      </div>
      <li class="search">
        <div class="search-wrapper card">
          <input id="search"><i class="material-icons">search</i>
          <div class="search-results"></div>
        </div>
      </li>
      <li><a class=" grey-text text-lighten-4 waves-effect waves-dark" href="index.html"><i class="tiny material-icons ">dashboard</i> Panel de control</a></li>
      <li class="active"><a class="grey-text text-lighten-4 waves-effect waves-dark" href="formularios.html"><i class="tiny material-icons">note_add</i> Formularios</a></li>
      <li><a class="grey-text text-lighten-4 waves-effect waves-dark" href="reportes.html"><i class="tiny material-icons">description</i> Reportes</a></li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large" ><i class="large material-icons">menu</i></a>
  </header>

    <main class="">
      <nav class="">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo hide-on-med-and-down">Formularios</a>
          <ul class="right ">
            <li><a href="#"><i class="material-icons">notifications</i><span class="badge">1</span></a></li>
            <li>
              <ul id="dropdown1" class="dropdown-content">
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Cerrar sesión</a></li>
              </ul>
              <a href="#" class="dropdown-button" data-activates="dropdown1"><img id="perfil-img" class="circle responsive-img" src="img/perfil.png"></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">

        <h4 class="center-align">Titulo aquí</h4>

        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                <label for="disabled">Disabled</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Materialize Select</label>
              </div>
            </div>

            <div class="row">
              <p>
                <input name="group1" type="radio" id="test2" />
                <label for="test2">Yellow</label>
              </p>
              <p>
                <input class="with-gap" name="group1" type="radio" id="test3"  />
                <label for="test3">Green</label>
              </p>
                <p>
                  <input name="group1" type="radio" id="test4" disabled="disabled" />
                  <label for="test4">Brown</label>
              </p>

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                <label for="filled-in-box">Filled in</label>
              </p>
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
                <label for="filled-in-box2">Filled in</label>
              </p>
            </div>

            <div class="row">
              <!-- Switch -->
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>

              <!-- Disabled Switch -->
              <div class="switch">
                <label>
                  Off
                  <input disabled type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="row">
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>

            <div class="row">
              <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
              </p>
            </div>

            <div class="row">
              <input type="date" class="datepicker" placeholder="Fecha de nacimiento">
            </div>

            <div class="row">
              <div class="row">
                  <div class="input-field col s6">
                    <input id="input_text" type="text" length="10">
                    <label for="input_text">Input text</label>
                  </div>
                </div>
            </div>
          </form>
        </div>

        <div class="row">
            <a class="waves-effect waves-light btn">default</a>
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
            <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn btn-info">btn-info</a>
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn btn-warning">btn-warning</a>
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn btn-danger">btn-danger</a>
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn btn-success">btn-success</a>
        </div>
      </div>

    </main>

    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a src="#" class="btn-floating blue"><i class="material-icons">perm_identity</i></a></li>
        <li><a src="#" class="btn-floating blue"><i class="material-icons">grade</i></a></li>
        <li><a src="#" class="btn-floating blue"><i class="material-icons">schedule</i></a></li>
        <li><a src="#" class="btn-floating blue"><i class="material-icons">class</i></a></li>
      </ul>
    </div>
</body>

<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>7
<script type="text/javascript" src="js/sparkline.min.js"></script>
<script src="js/materialize.js"></script>

<script>
  $('.button-collapse').sideNav({
    menuWidth: 260, // Default is 240
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
  });

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

  $('select').material_select();
</script>
</html>
